<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="styles/styles.css" />
        <link rel="stylesheet" href="styles/modal.css" />
        <link rel="stylesheet" href="styles/dashboard.css" />
        <link rel="stylesheet" href="styles/cards.css" />
        <link rel="stylesheet" href="styles/incidents.css" />
        <link rel="stylesheet" href="styles/report.css" />
        <link rel="stylesheet" href="styles/prettify.css" />
        <title>Document</title>
    </head>
    <body>
        <script src="scripts/main.js"></script>
        <script src="scripts/config.js"></script>
        <!--<script src="scripts/external/jquery.js"></script>-->
        <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.2/dist/chart.umd.min.js"></script>
        <script src="scripts/modal.js"></script>
        <script src="scripts/cards.js"></script>
        <script src="scripts/auth.js"></script>

        <div id="main-modal">
            <div id="main-modal-window">
                <span id="main-modal-close">&times;</span>
                <div id="main-modal-contents"></div>
            </div>
        </div>


        <div id="main-container">
            <nav id="main-sidebar">
                <h1>Меню</h1>
                <ul>

                    <li <% if (mainContatentPageName === "dashboard") { %>
                            class="main-sidebar-li-checked"   
                        <% } %>>
                        <a href="<%= proxy %>/views-dashboard">Dashboard</a>
                    </li>

                    <li <% if (mainContatentPageName === "views") { %>
                            class="main-sidebar-li-checked"   
                        <% } %>>
                        <details open>
                            <summary>Views</summary>
                            <ul>
                                <li <% if (mainContatentPageName === "views-adapters") { %>
                                        class="main-sidebar-li-checked"   
                                    <% } %>>
                                    <a href="<%= proxy %>/views-adapters">Adapters</a>
                                </li>
                                <li <% if (mainContatentPageName === "views-workers") { %>
                                        class="main-sidebar-li-checked"   
                                    <% } %>>
                                    <a href="<%= proxy %>/views-workers">Workers</a>
                                </li>
                                <li <% if (mainContatentPageName === "views-routines") { %>
                                        class="main-sidebar-li-checked"   
                                    <% } %>>
                                    <a href="<%= proxy %>/views-routines">Routines</a>
                                </li>
                                <li <% if (mainContatentPageName === "views-incidents") { %>
                                        class="main-sidebar-li-checked"   
                                    <% } %>>
                                    <a href="<%= proxy %>/views-incidents?from=0&to=20">Incidents</a>
                                </li>
                            </ul>
                        </details>  
                    </li>

                    <li <% if (mainContatentPageName === "views-report") { %>
                            class="main-sidebar-li-checked"   
                        <% } %>>
                        <a href="<%= proxy %>/views-report">Report</a>
                    </li>

                    <li <% if (mainContatentPageName === "views-authenticate") { %>
                            class="main-sidebar-li-checked"   
                        <% } %>>
                    <a href="<%= proxy %>/views-authenticate">Authenticate</a>
                </li>
                </ul>
            </nav>
            <div id="main-content">
                <% try { %> <%- include(mainContatentPageName) -%> <% } catch {} %>
            </div>
        </div>
    </body>
</html>
